{
".source.js":
  "Yakalelo":
    prefix: "yakalelo"
    body: "Yakalelo! Yakalelo mi tierra e mi sol, Espirito de Oanza I tiempo, Chico e chica jogando bailando, Libres, felices como el viento, Hoy es tu corazon que se desperta, A las palabras I melodias, Vivimos todos abajo del cielo, Libres, felices como el viento"
}
